.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(43, 86, 226);
    background-color: white;
    padding: 1rem;
}
.faqs {
    width: 50rem;
    max-width: 100%;
    background-attachment: white;
    border-radius: 0.6rem;
    padding: 1rem;
}
h1 {
    text-align: center;
}