*{
    font-family: sans-serif;
    text-align: justify;
    box-sizing: border-box;
}
.navlink{
    color: white;
    text-decoration: none;
    margin: 1rem;    
}
.navlink:hover{
    color: rgb(108, 224, 13);
}
nav .active {
    color: rgb(108, 224, 13);
}
